<div class="outer"> 

  <h1 class="user_name"><%= @user.name %></h1>

  <button class="invite-friends"><%= link_to "Invite Facebook Friends", "#", id: "invite_fb_friends" %></button>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
    $(function() {
      $("#invite_fb_friends").click(function() {
        console.log('clicked');
        FB.init({
          appId: '705147516194106',
          cookie: false,
          status: true,
        });
        FB.ui({method: 'apprequests', message:'<%= current_user.name %> would like to invite you to try Encore, and check out all of your favorite concert memories!'})
      });
    });
    </script>
  </div>
  <!-- Add functionality in so when the year changes
        a new header is made with that year -->


  <h2 id="concerts_header">Concerts Attended:</h2>


  <h3 id="header1">Date</h3>
  <h3 id="header2">Artist</h3>
  <h3 id="header3">Venue</h3>


    <% @concerts.each do |concert| %>
        <%#= link_to(concert) do %>
          <!-- <img src="..." alt="..." class="img-rounded"> -->
        <div class="date"><%= concert.date.strftime('%Y %B %e')  %></div>

          <% concert.artists.each do |artist| %>
            <div class="artist"><%= artist.name %></div>
          <% end %><!-- @concerts.artists.each -->

          <div class="venue"><%= concert.venue.name  %></div>
        <%# end %><!-- link -->
      </div>
    <% end %> <!-- @concerts.each -->



</div>

