<div id="about_intro">
  <h1 class="about_title">Encore is for the ones...</h1>

  <h2>Who feel at home amongst thousands of strangers, all getting lost in the power and emotion of live music.</h2>
  <br>
  <h2>Who drop all prior obligations when tickets to their favorite artist go on sale.­­­­</h2>
  <br>
  <h2>Whose vacation paradise is sleeping in a tent where the music doesn’t stop until sunrise.</h2>
  <br>
  <h2>Who aren’t content with letting the memories fade once the encore is played.</h2>
  <br>

  <div id="a_b">
    <%= image_tag("above_and_beyond.png", :alt => "above_and_beyond") %>
  </div>
</div>

<div id="about_story">
  <h1 class="about_title">Our Story</h1>

  <h2>Encore was born out of the idea of having a place to relive and share all of your favorite concert memories. While the moments themselves can never be recreated, having a community to save all of the pieces is something we wanted to create. We hope that you use this site as a means of remembering your favorite shows, and sharing them with others.</h2>
</div>

<div id="about_team">
  <h1 class="about_title">Our Team</h1>
    <div class="team_member first_member">
      <h2>Brendan Scarano</h2>
        <div id="brendan">
          <%#= image_tag("brendan2.png", :alt => "brendan") %>
      <a href="http://www.linkedin.com/in/brendanscarano"><%= icon('linkedin')%></a>
      <a href="https://github.com/Onaracs"><%= icon('github')%></a>
        </div>
      <br>
      <div class="favorite_concert">
        <br>
        <h2>Favorite Concert</h2>
        <br>
        <h2>AC/DC</h2>
        <h2>Madison Square Garden</h2>
        <h2>November 12, 2008</h2>
      </div>


    </div>

    <div class="team_member">
      <h2>Jared Rader</h2>
        <div id="jared">
          <%#= image_tag("jared.png", :alt => "jared") %>
      <a href="http://www.linkedin.com/pub/jared-rader/39/b32/14b"><%= icon('linkedin')%></a>
      <a href="https://github.com/raderj89"><%= icon('github')%></a>
        </div>
      <br>

      <div class="favorite_concert">
        <br>
        <h2>Favorite Concert</h2>
        <br>
        <h2>Roger Waters The Wall</h2>
        <h2>American Airlines Center</h2>
        <h2>November 21, 2010</h2>
      </div>

    </div>

    <div class="team_member">
      <h2>Buck O'Leary</h2>
        <div id="buck">
          <%#= image_tag("buck.png", :alt => "buck") %>
      <a href="http://www.linkedin.com/pub/howard-o-leary/35/893/722"><%= icon('linkedin')%></a>
      <a href="https://github.com/buck3000"><%= icon('github')%></a>
        </div>


      <div class="favorite_concert">
        <br>
        <h2>Favorite Concert</h2>
        <br>
        <h2>The Black Keys</h2>
        <h2>Constant Convocation Center</h2>
        <h2>March 23, 2012</h2>
      </div>



    </div>

    <div class="team_member">
      <h2>Timmy Haung</h2>
        <div id="timmy">
          <%#= image_tag("timmy.png", :alt => "timmy") %>
        <a href="http://www.linkedin.com/in/tihuan"><%= icon('linkedin')%></a>
        <a href="https://github.com/tihuan"><%= icon('github')%></a>
        </div>
        <br>
        <div class="favorite_concert">
          <h2>Favorite Concert</h2>
          <br>
          <h2>Armin Van Buuren</h2>
          <h2>Escape From Wonderland</h2>
          <h2>October 27, 2012</h2>
        </div>


    </div>



</div>

<%#= image_tag("a_b2.png", :alt => "concert") %>
<%#= image_tag("acdc2.png", :alt => "concert") %>
