<h2><%= @date %></h2>
<h2><%= @venue %></h2>
<h2><%= @city %></h2>
<h2><%= @state %></h2>

<div style="float:left; width: 45%;"
    <% @titles_ids.each do |title, id| %>
    <form class="add-song" action="/concerts/add_song" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <input class="concert-id" type="hidden" name="concert_id" value="<%#= @concert.id %>">
      <input class="band_id" type="hidden" name="band_id" value="<%#= @band.id %>">
      <input class="song_id" type="hidden" name="song_id" value="<%= id %>">

      <div class="video_container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/<%= id %>" frameborder="0" allowfullscreen></iframe>

        <br>
      </div>

        <div class="form-group">
          <p><i>Youtube Title:</i> <b><%= title %></b></p>
          <label for="song">Song</label>

          <!-- Check to see if the song array with the songs in the setlist
                is empty. The songs array will be [""] if there is no setlist for this show. -->
          <% if @songs[0].empty? %>
              <input class="form-control song" id="song" type="text" name="song_name" value='<%= title %>'>
              <button type="submit">Add Song</button>
              <hr>
          <!-- Otherwise, you can select the song based on the setlist. -->
          <% else %>
              <select>
                <% @songs.each do |song| %>
                  <option value="<%= song %>"><%= song %></option>
                <% end %>
              </select>

              <button type="submit" class="add-song-btn">Add Song</button>
              <hr>
          <% end %><!--End for the @songs selection loop -->

        </div>
      </form>
    <% end %><!--End for the @titles_id.each loop -->
</div>

<div style="float:right; width: 45%;">
  <% @songs.each do |song| %>
    <ul>
      <li><%= song %></li>
    </ul>
  <% end %>

  <div>
    <%= form_tag('create_concert') do %>
      <%= hidden_field_tag "band", @band %>
      <%= hidden_field_tag "date", @date %>
      <%= hidden_field_tag "tour", @tour %>
      <%= hidden_field_tag "venue", @venue %>
      <%= hidden_field_tag "city", @city %>
      <%= hidden_field_tag "state", @state %>
      <div><%= submit_tag 'Save Concert' %></div>
    <% end %>
  </div>
</div>

<!-- Songs that will be added to the concert -->
<h2 style="float:right; width: 16%; right: 10px">Songs added to the concert</h2>
<div id="added_songs" style="float:right; width: 16%; right: 10px">
  <ul>
  </ul>
</div>

