<div class="jumbotron">
  <center><h1>Relive your favorite concerts</h1>

  <%= form_tag '/search', method: "get", html: { class: "form-horizontal" } do %>
    <%= hidden_field_tag :page, 1 %>
    <div class="form-group">
      <h2><%= label_tag :band, "Search a band's concerts now" %></h2><br>
      <%= text_field_tag :band, nil, placeholder: "Band name", id: "myinput", class: 'form-control' %>
    </div>

    <%= submit_tag "Search", class: "btn btn-lg btn-success" %>

  <% end %>

  </center>

</div>
