<div class="row">
  <div class="col-lg-6">
    <h2><%= @band.name %> at <%= @venue.name %>, in <%= @venue.city %>, <%= @venue.state %></h2>
    <h2><%= @date %></h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <% @titles_ids.each do |title, id| %>
    <div class="col-lg-6">

      <%= form_for :song, url: songs_path, method: :post, html: { class: 'add-song' } do |f| %>
        <%= f.hidden_field :id, value: id %>

        <div class="youtube" id="<%= id %>" style="width: 320px; height: 180px;"></div>

        <div class="form-group">
          <p><i>Youtube Title:</i> <b id='yt-title'><%= title %></b></p>
          <label for="song">Song</label>
          <!-- Check to see if the song array with the songs in the setlist
                is empty. The songs array will be [""] if there is no setlist for this show. -->
        <% if @songs.empty? %>

          <%= f.text_field :song, value: title %>

          <%= f.submit "Add Song" %>
          <hr>
          <!-- Otherwise, you can select the song based on the setlist. -->
        <% else %>
          <%= f.select :songs, @songs.collect { |song| song } %>
          <%= f.submit "Add Song" %>
          <a href="#" class="remove-video">Not Relevant?</a>
        <% end %><!--End for the @songs selection loop -->
      <% end %>
        </div>
    </div>
    <% end %><!--End for the @titles_id.each loop -->
  </div>
  <div class="col-lg-2">
    <div class="setlist">
      <h2>Setlist</h2>
      <ol class="set-songs">
      <% @songs.each do |song| %>
        <li class="set-song"><%= song %></li>
      <% end %>
      </ol>
    </div>
  </div>
</div>



  <div>
    <%= form_tag('create_concert', id: "create_concert") do %>
      <%= hidden_field_tag "band", @band.id %>
      <%= hidden_field_tag "date", @concert.date %>
      <%= hidden_field_tag "tour", @tour %>
      <%= hidden_field_tag "venue", @venue.name %>
      <%= hidden_field_tag "city", @venue.city %>
      <%= hidden_field_tag "state", @venue.state %>
      <div><%= submit_tag 'Save Concert', id: "save_concert" %></div>
    <% end %>
  </div>
</div>

<!-- Songs that will be added to the concert -->
<h2 style="float:right; width: 16%; right: 10px">Songs added to the concert</h2>
<div id="added_songs" style="float:right; width: 16%; right: 10px">
  <ul>
  </ul>
</div>

<script type="text/javascript" src="https://labnol.googlecode.com/files/youtube.js"></script>

<script type="text/javascript">
  var concertId = <%= @concert_artist.concert_id %>;
  var artistId = <%= @concert_artist.artist_id %>;
</script>
