<!DOCTYPE html>
<html>
<head>
  <title>Encore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Code for Google Freebase Search -->
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>

  <script type="text/javascript">
  $(function() {
    $("#myinput").suggest({ "key" : "AIzaSyCJlvFbCyGpDSqxWQiliVKGqliCVocb5F0",
                            filter:'(all type:/music/artist)'
                          });
  });
  </script>

</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Encore</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>

          <% if current_user %>
            <li>
              <%= link_to user_path(session[:user_id]) do %>
                <strong><%= current_user.name %></strong>
              <% end %>
            </li>

            <li>
              <%= link_to signout_path, id: "sign_out" do %>
                <strong>Sign Out</strong>
              <% end %>
            </li>
            <% else %>
              <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
          <% end %>

          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <% if current_user %>
    <p><%= link_to "Invite Facebook Friends", "#", id: "invite_fb_friends" %></p>
      <script src="http://connect.facebook.net/en_US/all.js"></script>

      <script>
      $(function() {
        $("#invite_fb_friends").click(function() {
          console.log('clicked');
          FB.init({
            appID: '705147516194106',
            cookie:false,
            status:true,
          });
          FB.ui({method: 'apprequests', message:'Brendan would like to invite you to try Encore!'})
        });
      });

      </script>

    </div>
  <% end %>

  <div class="container">

    <div id='flash'>
      <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      </div>
      <% end %>
    </div>

    <%= yield %>

  </div>




</body>
</html>
